export(crossValidation,
	formulaAm,
	formulaLm,
	MAE,
	modelFit,
	modelPredict,
	modelComparison,
	penaltyPolyMARS,
	R2,
	residualsStudy,
	RMA,
	RMSE,
	stepEvolution,
	testCrossValidation)

import(DiceKriging)